body{
  margin: 0;
  padding: 0;
}

#root, .page {
  height: 100vh;
  width: 100vw;
}

.page{
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  justify-content: center;
}

.background{
  height: 100%;
  width: 100%;
  background-image: url("./assets/background.jpg");
  position: fixed;
  z-index: -1;
  opacity: 0.5;
}

.box{
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 25px 50px;
  margin-top: 50px;
  border-radius: 5px;
}

.content-header{
  font-family: Merriweather;
}

.box-content{
  display: flex;
  flex-direction: column;
  gap:10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

