textarea{
    border: 1px solid #f56f6f;
    border-radius: 5px;
    line-height: normal;
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
}

textarea:focus{
    border: 2px solid #f56f6f;
    outline: none;
}